@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --clr-text: #1a1a1a;
  --bg-nav: #00ffff;
  --bg-abt: #fafafa;
  --bg-service: #00ffff;
  --bg-con: #fafafa;
  --clr-white: #ffff;
  --transition: all 0.2s ease-in-out;
  --border-radius: 0.5rem;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  font-family: "DM Sans", serif;
  color: var(--clr-text);
  line-height: 1.5;
  font-size: 0.875rem;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-nav);
  box-shadow: var(--box-shadow);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid black;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.logo {
  font-size: 1.5rem;
  color: navy;
  font-weight: 700;
}
.logo span {
  color: #ff7f50;
  text-transform: capitalize;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--clr-text);
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  transition: var(--transition);
  font-size: 1rem;
  font-weight: 800;
  color: navy;
  cursor: pointer;
}
.nav-link:hover {
  color: #ff7f50;
  background: black;
  padding-left: 2.25rem;
}

/* nav-toggle-functionailty */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 280px;
}

/* nav-at-bigger-screen-size */

@media screen and (min-width: 750px) {
  .nav-toggle {
    display: none;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-header {
    padding: 0 0;
  }
}
